<form method="POST" action="/contact">
  <label for="email">Email</label>
  <input type="text" name="email" placeholder="Your email">
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="Your name">
  <br>
  <label for="subject">Subject</label>
  <input type="text" name="subject" placeholder="Enter subject here"/>
  <br>
  <label for="body">Body</label>
  <textarea name="body" cols="60" rows="20"></textarea> 
  <input type="submit"/>
</form>

