<h1 id="recent">Post</h1>
<form method="post" action="/home">
	<p>
	  <label for="title">Title:<br />
	  </label>
	  <input type="text" name="title"/>
	  <br />
	  <br />
	  Body:
	  <br />
	  <label for="textarea"></label>
	  <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea>
  </p>
	<p>
	  <input type="submit" name="button" id="button" value="Post" />
	</p>
</form>