<html>
<head>
	<title>Blog-e</title>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<body>
	
	<header>
		<form method="post" action="/login">
			<label for="username">Username</label>
			<input type="text" name="username"/>
			<label for="password">Password</label>
			<input type="password" name="password"/>
			<input type="submit"/>
		</form>
		<% if flash[:notice] %>
			<div class="flashNotice">
				<%= flash[:notice] %>
			</div>
		<% end %>
		<!-- Logo that links to homepage. -->
		<a href="/home"><img src="Images/Blog-e.png" width="367" height="152" /></a>
		
		<nav>
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/sign_up">Sign Up</a></li>
				<li><a href="/sign_out">Sign Out</a></li>
				<li><a href="/profile">Profile</a></li>
				<!-- <li><a href="/login">Login</a></li> Login link was not working, commented out-->
				
			</ul>
		</nav\>
	</header>
		<% if flash[:notice] %>
			<h1 class="flash-notice">
			<%=flash[:notice]%>
			</h1>
		<% end %>
		<%if flash[:alert]%>
			<h1 class="flash-alert">
			<%=flash[:alert]%>
			</h1>
		<% end %>
	<%= yield %>

	<footer>
		<p>&copy; October 2015</p>
	</footer>
</body>
</html>