<!DOCTYPE html>
<head>
	<title>Blog-e</title>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/profile">Profile</a></li>
				<li></li>
				<li></li>
				<li></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</nav>
	</header>

	<%= yield %>

	<footer>
		<p>&copy; October 2015</p>
	</footer>
</body>
</html>