<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>

<link rel="stylesheet" type="text/css" href="stylesheet.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>

<body>
<h1 id="recent">Post</h1>
<p>User Name</p>
<p>
  <label for="firstname"></label>
  <input type="text" name="firstname" id="firstname" />
</p>
<p>Post</p>
<p>
  <label for="textfield"></label>
  <textarea name="textfield" cols="70" rows="5" id="textfield"></textarea>
</p>
<p>
  <input type="submit" name="button" id="button" value="Post" />
</p>
</body>
