<h1 id="recent">Sign Up</h1>
<ul>
  <li>Password must be more than 6 characters.</li>
  <li>Password must be less than 15 characters.</li>
  <li>Password must contain a letter.</li>
</ul>
<br>
<form method="post" action="/user_create">
  <label for="username">Username</label>
  <input type="text" name="username" />
  <br>
  <label for="email">Email</label>
  <input type="text" name="email"/>
  <br>
  <label for="firstname">First Name</label>
  <input type="text" name="firstname" />
  <br>
  <label for="lastname">Last Name</label>
  <input type="text" name="lastname"/>
  <br>
  <label for="password">Password</label>
  <input type="password" name="password"/>
  <input type="submit" />
</form>

